<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Menu-->
    <header id="header">
        <a href="/Home/Inicio" class="title"><img src="~/img/Logo_MM.png" width="200" height="40" alt="Alternate Text" /></a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Administracion/Inicio">Inicio</a></li>
                <li><a href="/Administracion/Peliculas">Gestión de Películas</a></li>
                <li><a href="/Administracion/Sedes">Gestión de Sedes</a></li>
                <li><a href="/Administracion/Carteleras">Gestión de Carteleras</a></li>
                <li><a href="/Administracion/Reportes">Reporte de Reservas</a></li>
                </ul>
        </nav>
    </header>
    <!--Body de cada página-->
    @RenderBody()

    <!--Footer-->
    <footer class="container-fluid text-center">

        <div>
            <p>Trabajo Práctico - Programación Web 3 - 2017</p>
            <p>Alumnas: Paola Ferrara, Nadia Jara, Nadia Villalva</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
    @RenderSection("scripts", required: false)
    @*<footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>Trabajo Práctico - Programación Web 3 - 2017</li>
                <li>Alumnas: Paola Ferrara, Nadia Jara, Nadia Villalva</li>
            </ul>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/Scripts/jquery.min.js")
        @Scripts.Render("~/Scripts/jquery.scrollex.min.js")
        @Scripts.Render("~/Scripts/jquery.scrolly.min.js")
        @Scripts.Render("~/Scripts/skel.min.js")
        @Scripts.Render("~/Scripts/util.js")
        @Scripts.Render("~/Scripts/main.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")*@

    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker($.datepicker.regional["es"]);
        });
    </script>
</body>
</html>
