@using Tp_Cines_.Models;
@model  CarteleraViewModel

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
   
<div class="form-group">
    <!--Peliculas-->
    @Html.LabelFor(u => u.IdPelicula, "Peliculas", new { @class = "col-lg-2 control-label" })
    @Html.DropDownListFor(u => u.IdPelicula, new SelectList(Model.Peliculas, "IdPelicula", "Nombre"), "Seleccione", new { @class = "form-control" })
    @Html.ValidationMessageFor(u => u.IdPelicula)
 
    </div>
       <!--Sedes-->
<div class="form-group">
    @Html.LabelFor(u => u.IdSede, "Sedes", new { @class = "col-lg-2 control-label" })
    @Html.DropDownListFor(u => u.IdSede, new SelectList(Model.Sedes, "IdSede", "Nombre"), "Seleccione", new { @class = "form-control" })
    @Html.ValidationMessageFor(u => u.IdSede)
    <!--HoraInicio-->
    </div>

<div class="form-group">
    @Html.LabelFor(u => u.HoraInicio, new { @class = "col-lg-2 control-label" })
    @Html.TextBoxFor(u => u.HoraInicio, new { @type = "number", @min = "15", @max = 23, @class = "form-control" })
    @Html.ValidationMessageFor(u => u.HoraInicio)
</div>

<div class="form-group">
    <!--FechaInicio-->
    <div class="input-append date" id="fechaInicioDate">
        @Html.LabelFor(u => u.FechaInicio, new { @class = "col-lg-2 control-label" })
        <div class='input-group date' id='FechaInicioDatePicker'>
            @Html.TextBoxFor(u => u.FechaInicio, new { @type = "datetime", @class = "form-control" })

            @*<input type='text' class="form-control" name="FechaInicio"/>*@
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(u => u.FechaInicio)
    </div>

    </div>

<div class="form-group">
    <!--FechaFin-->
    <div class="input-append date" id="fechaFinDate">
        @Html.LabelFor(u => u.FechaFin, new { @class = "col-lg-2 control-label" })
        <div class='input-group date' id='FechaFinDatePicker'>
            @Html.TextBoxFor(u => u.FechaFin, new { @type = "datetime", @class = "form-control" })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(u => u.FechaFin)
    </div>

    </div>
    <!--NumeroSala-->

    <div class="form-group">
    @Html.LabelFor(u => u.NumeroSala, new { @class = "col-lg-2 control-label" })
    @Html.TextBoxFor(u => u.NumeroSala, new { @type = "number", @min = "1", @class = "form-control" })
    @Html.ValidationMessageFor(u => u.NumeroSala)
</div>

<div class="form-group">
    <!--Version-->
    @Html.LabelFor(u => u.IdVersion, "Versiones", new { @class = "col-lg-2 control-label" })
    @Html.DropDownListFor(u => u.IdVersion, new SelectList(Model.Versiones, "IdVersion", "Nombre"), "Seleccione", new { @class = "form-control" })
    @Html.ValidationMessageFor(u => u.IdVersion)</div>
    <!--Lunes-->
<div class="form-group">
    @Html.CheckBoxFor(u => u.Lunes)
    @Html.LabelFor(u => u.Lunes)
    <!--Martes-->
    @Html.CheckBoxFor(u => u.Martes)
    @Html.LabelFor(u => u.Martes)

    <!--Miercoles-->
    @Html.CheckBoxFor(u => u.Miercoles)
    @Html.LabelFor(u => u.Miercoles)

    <!--Jueves-->
    @Html.CheckBoxFor(u => u.Jueves)
    @Html.LabelFor(u => u.Jueves)

    <!--Viernes-->
    @Html.CheckBoxFor(u => u.Viernes)
    @Html.LabelFor(u => u.Viernes)

    <!--Sabado-->
    @Html.CheckBoxFor(u => u.Sabado)
    @Html.LabelFor(u => u.Sabado)

    <!--Domingo-->
    @Html.CheckBoxFor(u => u.Domingo)
    @Html.LabelFor(u => u.Domingo)

    </div>
    <div class="col-md-6 col-md-offset-5">
        <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
    </div>
    <br />
    <br />

    <!--Listado de funciones, da error por objeto null-->
    @*@if (Model != null && Model.Horarios.Count > 0)
        {
            <h5>Funciones Designadas</h5>
            <li>
                foreach (var funcion in Model.Horarios)
                {
                <ul>funcion</ul>
                }
            </li>*@

