@using Tp_Cines_.Models;
@model  SedeViewModel

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<section>
    <div class="field half first">
        @Html.LabelFor(u => u.Nombre)
        @Html.TextBoxFor(u => u.Nombre, new { @type = "text", @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Nombre)
    </div>

    <div class="field half">
        @Html.LabelFor(u => u.PrecioGeneral)
        @Html.TextBoxFor(u => u.PrecioGeneral, new {@class = "form-control" })
        @Html.ValidationMessageFor(u => u.PrecioGeneral)
    </div>
    <div class="field">
        @Html.LabelFor(u => u.Direccion)
        @Html.TextBoxFor(u => u.Direccion, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Direccion)
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Guardar</button>
</section>