@model IEnumerable<CapaServicio.Peliculas>

@{
    ViewBag.Title = "Gestión de Películas";

}


<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Películas vigentes</h2>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Pelicula</th>
                        <th>Descripción</th>
                        <th>Genero</th>
                        <th>Calificacion</th>
                        <th>Imagen</th>

                        <th>Duración</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr class="active">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Generos.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Calificaciones.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Imagen)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Duracion)
                            </td>

                            <td>
                                <a href="/Administracion/EditarPelicula/@item.IdPelicula " class="button fit">Editar</a>
                            </td>

                        </tr>

                    }

                </tbody>

            </table>


            @Html.ActionLink("Crear nuevo", "Crear", "Peliculas", null, new { @class = "btn btn-default btn-success btn-lg btn-block" })

        </div>
    </section>

</div>