@model IEnumerable<CapaServicio.Peliculas>

@{
    ViewBag.Title = "Gestión de Películas";

}

@section menu { @Html.Partial("_MenuAdministradorPartial")}
<div id="wrapper">
    <section id="main" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Películas vigentes</h2>

            <table>
                <thead>
                    <tr>
                        <th>Pelicula</th>
                        <th>Descripción</th>
                        <th>Genero</th>
                        <th>Calificacion</th>
                        <th>Imagen</th>

                        <th>Duración</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Generos.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Calificaciones.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Imagen)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Duracion)
                            </td>

                            <td>
                                <a href="/Administracion/EditarPelicula/@item.IdPelicula " class="button fit">Editar</a>
                            </td>

                        </tr>

                    }

                </tbody>

            </table>

            <ul class="actions fit">
                <li class="button fit">
                    @Html.ActionLink("Crear nuevo", "Crear", "Peliculas")
                </li>
            </ul>
        </div>
    </section>

</div>