@using Tp_Cines_.Models;
@model  ReporteViewModel
@{
    ViewBag.Title = "Reportes de Reservas";

}
@section scripts {
    @Html.Partial("CarteleraScriptsPartial")
}
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">


        @*<div class="panel panel-primary">*@
  
            <section>
                <h2>Reportes</h2>
            </section>
            @*<div class="panel-body">*@
            @using (Html.BeginForm("Reportes", "Administracion", FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <!--FechaInicio-->

                <div class="form-group">
                    <div class="input-append date" id="fechaInicioDate">
                        @Html.LabelFor(u => u.FechaInicio)
                        <div class='input-group date' id='FechaInicioDatePicker'>
                            @Html.TextBoxFor(u => u.FechaInicio, new { @type = "datetime", @class = "form-control" })

                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(u => u.FechaInicio)
                    </div>
                    </div>


                    <div class="form-group">
                        <!--FechaFin-->
                        <div class="input-append date" id="fechaFinDate">
                            @Html.LabelFor(u => u.FechaFin)
                            <div class='input-group date' id='FechaFinDatePicker'>
                                @Html.TextBoxFor(u => u.FechaFin, new { @type = "datetime", @class = "form-control" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(u => u.FechaFin)
                        </div>

                    </div>

                        <div class="col-md-6 col-md-offset-4">
                            <button class="btn btn-primary btn-lg" type="submit">Generar Reporte</button>
                        </div>
                        if (Model != null && Model.ListadoReservas.Count > 0)

                        {
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Sede</th>
                                    <th>Versión</th>
                                    <th>Película</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.ListadoReservas)
                                {

                                    <tr class="active">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sedes.Nombre)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Versiones.Nombre)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Peliculas.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sedes.PrecioGeneral)
                                        </td>

                                    </tr>

                                }

                            </tbody>

                        </table>
                        @*<div>
                                @Html.ActionLink("Generar Nuevo Reporte", "Reportes", "Administracion", null, new { @class = "btn btn-default btn-success btn-lg btn-block" })
                            </div>*@
                        }

                        }
                    </div>

    </div>

<br />
<br />