@using CapaServicio;
@model  IEnumerable<Sedes>
@{
    ViewBag.Title = "Gestión de Sedes";
}

@section menu { @Html.Partial("_MenuAdministradorPartial")}
<section id="three" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Sedes</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Precio Entrada General</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PrecioGeneral)
                            </td>
                            <td class="button fit">

                                @Html.ActionLink("Editar", "CrearSede", new { id = item.IdSede })
                            </td>

                        </tr>

                    }
                }

            </tbody>

        </table>

        <ul class="actions fit">
            <li class="button fit">
                @Html.ActionLink("Crear nuevo", "CrearSede")
            </li>
        </ul>
    </div>
</section>