@using CapaServicio;
@model  IEnumerable<Sedes>
@{
    ViewBag.Title = "Gestión de Sedes";
    Layout = "~/Views/Administracion/_LayoutAdministrador.cshtml";
}

<h2>Sedes</h2>

<section id="three" class="wrapper style1 fade-up">
    <div class="inner">
        <h2>Películas vigentes</h2>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Precio Entrada General</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioGeneral)
                        </td>
                        <td>
                            <!--Corregir para que vaya a Editar-->
                            @Html.ActionLink("Editar", "EditarSede",  new { id = item.IdSede } )
                        </td>

                    </tr>

                }
                }

            </tbody>

        </table>

        <ul class="actions fit">
            <li class="button special fit">
                @Html.ActionLink("Crear nuevo", "CrearSede")
            </li>
        </ul>
    </div>
</section>