@using CapaServicio;

@model IEnumerable<CapaServicio.Peliculas>

@{
    ViewBag.Title = "MovieMark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Wrapper -->
<div id="wrapper">
    <!--Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
  
            <p>
                Acá podría ir un slider, intente pero no me sale :( <br />
                Futuro slider(?)
            </p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Learn more</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
       
@*            <a href="#"><img src="~/img/mujer_maravilla.jpg" width="350" height="450" alt="Mujer_Maravilla" data-position="center center" /></a>*@
            @foreach(var item in Model)
            {  <section>
              <a href="#"><img src="@item.Imagen" width="350" height="450" alt="Mujer_Maravilla" data-position="center center" /></a>
         
            <div class="content">
                <div class="inner">
                    <h2>@item.Nombre</h2>
                    <h5>
                        @item.Descripcion
                    </h5>
                    <ul class="actions">
                        @*<li><a href="#" class="button">Comprar Entrada</a></li>*@
                         <li>@*<a href="#" class="button">Comprar Entrada</a>*@ @Html.ActionLink("Comprar entradas", "Versiones", "Peliculas", new { id = @item.IdPelicula }, null)</li>
                    </ul>
                </div>
            </div>

                 </section>
            }
       

        </section>
</div>