@using Tp_Cines_.Models;
@model UsuarioViewModel

@{
    ViewBag.Title = "Login";

}


<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">


        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "Login fallido, verificar los datos.", new { @class = "text-danger" });

                <blockquote>
                    <h2>Hola Admin!</h2>
                    <p>*Para entrar a la Administración, debe tener un nombre de Usuario y Contraseña Válidos*</p>
                </blockquote>

                <div class="form-group">

                    
                        @Html.LabelFor(u => u.NombreUsuario,"Nombre", new { @class = "col-lg-2 control-label" })
                        @Html.TextBoxFor(u => u.NombreUsuario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.NombreUsuario)



                </div>



                <div class="form-group">
                 
                        @Html.LabelFor(u => u.Password, new { @class = "col-lg-2 control-label" })
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Password)
                  
                </div>

                <div class="form-group">
                    <button class="btn btn-default btn-lg btn-block" type="submit">Entrar</button>
                </div>


                    <br />
                    <br />
                    <br />
                    <br />
                 


                    }

                </div>

                </div>