@using CapaServicio;
@model CapaServicio.Versiones


@{
    Layout = null;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Versiones</title>
</head>
<body>
    <div>


        <form action="/" method="post">

            <fieldset>
                <legend>Seleccionar</legend>
                <div>
                    <label>Version</label>
                    @Html.DropDownListFor(m => m.IdVersion, new SelectList(ViewBag.Versiones, "IdVersion", "Nombre"))

                </div>

                <br />

                @*  @Html.DropDownList("Version","Elegir Version")*@

                @*  @Html.ActionLink("Seleccionar", "Sedes", "Peliculas", null);*@

                <div>

                    <label>Sedes</label>
                    @Html.DropDownList("Sede", "Elegir Sede")

                </div>

                <br />

                <div>
                    <label>Dias</label>
                    @Html.DropDownList("dias", "Elegir dia")

                </div>


      @*          <br />

                <div>
                    <label>Horario</label>
                    @Html.DropDownList("hora", "Elegir horario")

                </div>*@


            </fieldset>



            @*        @Html.DropDownList("Sedes","Elegir Sedes");*@


            @* @Html.Partial("_PartialSedes", new ViewDataDictionary { ViewData["Sedes"] });*@

            @* @Html.Partial("_PartialSedes", CapaNegocio.Sedes )*@
        </form>


    </div>
</body>
</html>
